body {
  background-color: black;
  display: flex;
  justify-content: center;

}

header {
  height: 85px;
  width: 85vw;
  border-bottom:  5px white solid;
  display: flex;
  justify-content:left;
}

.headtext{
  color:white;
  font-size: 30px;
  font-family: cursive;
  }
#colorwheel{
  height: 75px;
  width: 75px;
}
